.biography-content {
  display: grid;
  place-content: center;
  margin-top: 20%;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
.biography-content {
  grid-template-columns: 1fr;
}
}

.bio-photo {
 padding-top: 10%;
}

.cont {
  position: relative;
}
.bio-photo dt {
  text-align: center;
}

.bio-photo dd {
  margin: 0 20px;
  text-align: left;
}

.bio-photo img {
  display: block;
  margin: auto;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}